@import "tailwindcss"; /* Deve ser a PRIMEIRA linha */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Open+Sans:wght@400;600&display=swap');

@theme {
  --font-title: "Montserrat", sans-serif;
  --font-text: "Open Sans", sans-serif;

  --color-primary: var(--color-emerald-500);
  --color-primary-light: var(--color-emerald-400);
  --color-primary-dark: var(--color-emerald-900);

  --color-bg-main: #020617;       
  --color-bg-card: #064e3b;       
  --color-bg-card-hover: #065f46; 

  --color-text-main: #f8fafc;      
  --color-text-muted: #94a3b8;    

  --color-action: #fbbf24;         
  --color-accent: #f97316;        
}

* {
  scroll-behavior: smooth;
}