@import "tailwindcss"; /* Deve ser a PRIMEIRA linha */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Open+Sans:wght@400;600&display=swap');

@theme {
  --font-title: "Montserrat", sans-serif;
  --font-text: "Open Sans", sans-serif;
  --color-title: #22c55e;
  --color-bg: #0a0a0a;
  --color-accent: #f97316;
}