@import "tailwindcss"; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Open+Sans:wght@400;600&display=swap');

@theme {
  --font-title: "Montserrat", sans-serif;
  --font-text: "Open Sans", sans-serif;

  --color-primary: #2563eb;       
  --color-primary-light: #3b82f6;  
  --color-primary-dark: #1e3a8a;  

  --color-bg-main: #000000;        
  --color-bg-card: #0f172a;        
  --color-bg-card-hover: #1e293b;  

  --color-text-main: #f8fafc;      
  --color-text-muted: #94a3b8;     

  --color-action: #0ea5e9;         
  --color-accent: #1d4ed8;         
}

* {
  scroll-behavior: smooth;
}